about-section{
    display: flex;
    padding: 4rem;
    justify-content: center;
    gap: 2rem;
}
.about{
    /* height:50vh; */
    /* border:2px solid black; */
    padding: 2rem;
    font-size: 1.2rem;
    color: black;
    background-color: whitesmoke;
}
.about h3{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
}
.about-text{
    text-align: justify;
    height: fit-content;
    width: 30px;
    align-items: center;
    line-height: 1.6rem;
    padding: 2rem;
    background-color: wheat;
    box-shadow: 2px 2px 10px gray;
    border-radius: 3rem;
}
.about-text:hover {
    box-shadow: 4px 4px 20px gray;
    transition: 0.5s;
}
.about-image img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 3rem;
}