.home {
    background-image: url(../assets/background01.jpg);
    /* border: 2px solid black; */
    height: 100vh;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo {
    font-size: 2rem;
    color: wheat;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a {
    text-decoration: none;
    color: wheat;
    font-size: 1.2rem;
}

.nav-links a:hover {
    color: azure;
}
h1 {
    font-size: 3rem;
    color: white;
    align-items: center;
    padding: 40vh 0 0 40vw;
}